        {
            /* .id = */ $route_id,
            /* .tensors = */ {
$tensors
            },
            /* .values = */ {
$values
            },
            /* .constraints = */ {
$constraints
            },
        },
