kernel.def export("$export_name") $root_symbol() {
  %unit = index.constant 1 : index
  %minus_one = index.constant -1 : index
  %ne0 = config.get @hrx2.shape.copy4d.ne0 : index
  %ne1 = config.get @hrx2.shape.copy4d.ne1 : index
  %ne2 = config.get @hrx2.shape.copy4d.ne2 : index
  %ne3 = config.get @hrx2.shape.copy4d.ne3 : index
  %workgroup_size = config.get @hrx2.tuning.copy4d.workgroup_size : index
  %ne01 = index.mul %ne0, %ne1 : index
  %ne012 = index.mul %ne01, %ne2 : index
  %total = index.mul %ne012, %ne3 : index
  %rounding = index.add %workgroup_size, %minus_one : index
  %rounded = index.add %total, %rounding : index
  %workgroups = index.div %rounded, %workgroup_size : index
  kernel.launch.config workgroups(%workgroups, %unit, %unit) workgroup_size(%workgroup_size, %unit, %unit) : index
} launch(%src0: buffer, %dst: buffer) {
  %base = index.constant 0 : offset
  %ne0 = config.get @hrx2.shape.copy4d.ne0 : index
  %ne1 = config.get @hrx2.shape.copy4d.ne1 : index
  %ne2 = config.get @hrx2.shape.copy4d.ne2 : index
  %ne3 = config.get @hrx2.shape.copy4d.ne3 : index
  %src0_nb0 = config.get @hrx2.stride.copy4d.src0_nb0 : index
  %src0_nb1 = config.get @hrx2.stride.copy4d.src0_nb1 : index
  %src0_nb2 = config.get @hrx2.stride.copy4d.src0_nb2 : index
  %src0_nb3 = config.get @hrx2.stride.copy4d.src0_nb3 : index
  %workgroup_size = config.get @hrx2.tuning.copy4d.workgroup_size : index
  %ne0_bounded = index.assume %ne0 [range(%ne0, 1, 1073741824)] : index
  %ne1_bounded = index.assume %ne1 [range(%ne1, 1, 1073741824)] : index
  %ne2_bounded = index.assume %ne2 [range(%ne2, 1, 1073741824)] : index
  %ne3_bounded = index.assume %ne3 [range(%ne3, 1, 1073741824)] : index
  %workgroup0 = kernel.workgroup.id<x> : index
  %lane0 = kernel.workitem.id<x> : index
  %workgroup = index.assume %workgroup0 [range(%workgroup0, 0, 4194303)] : index
  %lane = index.assume %lane0 [range(%lane0, 0, 1023)] : index
  %linear_base0 = index.mul %workgroup, %workgroup_size : index
  %linear_base = index.assume %linear_base0 [range(%linear_base0, 0, 1073741823)] : index
  %linear0 = index.add %linear_base, %lane : index
  %linear = index.assume %linear0 [range(%linear0, 0, 1073741823)] : index
  %ne01 = index.mul %ne0_bounded, %ne1_bounded : index
  %ne012 = index.mul %ne01, %ne2_bounded : index
  %total0 = index.mul %ne012, %ne3_bounded : index
  %total = index.assume %total0 [range(%total0, 1, 1073741824)] : index
  %in_bounds = index.cmp ult, %linear, %total : index

  %src0_global = buffer.assume.memory_space<global> %src0 : buffer
  %dst_global = buffer.assume.memory_space<global> %dst : buffer
  %src0_noalias, %dst_noalias = buffer.assume.noalias %src0_global, %dst_global : buffer, buffer
  %src0_view = buffer.view %src0_noalias[%base] : buffer -> view<1073741824x$src_type, #dense>
  %dst_view = buffer.view %dst_noalias[%base] : buffer -> view<1073741824x$dst_type, #dense>

  scf.if %in_bounds {
    %i0 = index.rem %linear, %ne0_bounded : index
    %q0 = index.div %linear, %ne0_bounded : index
    %i1 = index.rem %q0, %ne1_bounded : index
    %q1 = index.div %q0, %ne1_bounded : index
    %i2 = index.rem %q1, %ne2_bounded : index
    %i3 = index.div %q1, %ne2_bounded : index

    %src0_o0 = index.mul %i0, %src0_nb0 : index
    %src0_o1 = index.mul %i1, %src0_nb1 : index
    %src0_o2 = index.mul %i2, %src0_nb2 : index
    %src0_o3 = index.mul %i3, %src0_nb3 : index
    %src0_o01 = index.add %src0_o0, %src0_o1 : index
    %src0_o23 = index.add %src0_o2, %src0_o3 : index
    %src0_idx0 = index.add %src0_o01, %src0_o23 : index
    %src0_idx = index.assume %src0_idx0 [range(%src0_idx0, 0, 1073741823)] : index

$compute_block
  }
  kernel.return
}
